# Python bytecode
*.pyc
*.pyo
*.pyd

# Django files
*.log
*.pot
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
.pycharm/

# Git files
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Other files
__pycache__/
env/
media/
staticfiles/
tmp/
venv/